body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: url("{{ url_for('static', filename='image1.jpg') }}") center/cover fixed no-repeat;
    transition: background-image 3s ease;
  }
  
  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-form {
    max-width: 400px;
    margin: 0 auto;
  }
  